<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Recibir</servlet-name>
        <servlet-class>controlador.Recibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>controlador.Mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>controlador.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WActualizar</servlet-name>
        <servlet-class>controlador.WActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Weliminar</servlet-name>
        <servlet-class>controlador.Weliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Recibir</servlet-name>
        <url-pattern>/recibir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/mostrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/editar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WActualizar</servlet-name>
        <url-pattern>/wActualizar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Weliminar</servlet-name>
        <url-pattern>/weliminar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
